# SA:GO (SA-MP 0.3.7 server) Default Configuration
port 7777
hostname "SA:GO 0.3.7 Server"
gamemode0 "bare 1"
language "English"
password ""
rcon_password "CHANGE_THIS_PASSWORD"
maxplayers 50
worldtime 12
weather 10
gravity 0.008
serialcheck 0

# Rate limits applied to unknown sources (handshake / query spam protection).
ipratelimit_burst 100
ipratelimit_persec 50

# Streaming radius (world units)
streamdistance 200

# Spawn classes: addclass <skin> <x> <y> <z> <angle> [w1 a1 w2 a2 w3 a3]
addclass 0   1978.0 1343.0 15.0 0 0 0 0 0 0 0
addclass 7   1978.0 1343.0 15.0 0 0 0 0 0 0 0
addclass 21  1978.0 1343.0 15.0 0 0 0 0 0 0 0
addclass 23  1978.0 1343.0 15.0 0 0 0 0 0 0 0
addclass 29  1978.0 1343.0 15.0 0 0 0 0 0 0 0
addclass 100 1978.0 1343.0 15.0 0 0 0 0 0 0 0
addclass 250 1978.0 1343.0 15.0 0 0 0 0 0 0 0
addclass 287 1978.0 1343.0 15.0 0 0 0 0 0 0 0
